/***************************************************************************************************************************
 * Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements.  See the NOTICE file *
 * distributed with this work for additional information regarding copyright ownership.  The ASF licenses this file        *
 * to you under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance            *
 * with the License.  You may obtain a copy of the License at                                                              *
 *                                                                                                                         *
 *  http://www.apache.org/licenses/LICENSE-2.0                                                                             *
 *                                                                                                                         *
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an  *
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the        *
 * specific language governing permissions and limitations under the License.                                              *
 ***************************************************************************************************************************/
 
/**********************************************************************************************************************/
/**  Sections                                                                                                        **/
/**********************************************************************************************************************/
html {
}
body {
	background-color: #3B4B54;
	margin: 0px;
	font-size: 11pt;
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #B3B3B3;
	height: 100%;	
}
header * {
    font-size:11pt;
	color: #B3B3B3;
	background-color: #26343F;
}
nav {
	margin: 10px 20px 10px 20px;
	color: #94A3AB;
}
section {
	display: table;
	width: 100%;
}
article {
	display: table-cell;
}
aside {
	display: table-cell;
	vertical-align: top;
	padding: 20px 20px;
}
footer { 
	padding: 10px;
	width: 100%;
	bottom: 0;
	position: fixed;
	background-color: #26343F;
}

/**********************************************************************************************************************/
/**  Page elements                                                                                                   **/
/**********************************************************************************************************************/

/* Hyperlinks */
.link {
	font-size:10pt;
	color: #94A3AB;
	text-decoration: none;
	margin: 0px 15px;
	text-transform: uppercase;
}
.link:active, .link:hover {
	color: white;
	text-decoration: underline;
}

/* Title */
h3.title {
	color: white;
	margin: 0px;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 2px solid #34534B;
}

/* Description */
h5.description {
	color: #B3B3B3;
	margin: 0;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 2px solid #34534B;
}

/************************************************************************************/
/**  Data section                                                                  **/
/************************************************************************************/
div.outerdata {
	width: 100%;
	height: 100%;
}

div.data {
	padding:10px;
	background-color: white;
	border-radius: 4px;
	margin: 20px;
	display: inline-block;
	overflow-x: auto;
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5);
	font-family: sans-serif;
	color:#26343F;
}
div.data * {
	font-size: 9pt;
	color: #26343F;
}
div.data td {
	vertical-align: top;
	border-bottom:1px solid #d9dcde;
	border-right:1px solid #d9dcde;
	padding:0.2em 0.5em;
}


/************************************************************************************/
/**  Other                                                                         **/
/************************************************************************************/

table {
	border: none;
}

div.data a {
	color: #116998;
	text-decoration: none;
}

div.data a:hover {
	text-decoration: underline;
}

div.data th, .header {
	border-top:1px solid #D9DCDE;
	padding: 4px 8px;
	font-weight: bold;
	text-align:center;
	background-color: #F4F6F9;
}

button {
	border-left:1px solid #A1AFAC;
	border-top:1px solid #A1AFAC;
	color: white;
	font-size: 9pt;
	background: #00B299;
    font-weight: bold;
    padding: 5px 20px;	
	border-radius: 5px;
	text-transform: uppercase;
	margin-left: 10px;
}

button:hover {
	background-image: none;
	background-color: #66D1C2;
}

div.data ul {
	margin:0px;
	padding-left:20px;
}

div.data textarea, pre { 
	-moz-tab-size:3; 
	-o-tab-size:3; 
	-webkit-tab-size:3; 
	tab-size:3; 
}

.table {
	display:table;
}
.row {display:table-row;}
.cell {display:table-cell;}
.monospace {font-family:monospace;}

iframe.output {
	background-color: #F6F7F9;
    border: 1px solid gray;
    padding: 0px;
    overflow: hidden;
    width:100%;
	min-height:400px;
}