# ***************************************************************************************************************************
# * Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements.  See the NOTICE file *
# * distributed with this work for additional information regarding copyright ownership.  The ASF licenses this file        *
# * to you under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance            *
# * with the License.  You may obtain a copy of the License at                                                              *
# *                                                                                                                         *
# *  http://www.apache.org/licenses/LICENSE-2.0                                                                             *
# *                                                                                                                         *
# * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an  *
# * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the        *
# * specific language governing permissions and limitations under the License.                                              *
# ***************************************************************************************************************************

#=======================================================================================================================
# juneau-petstore-jetty configuration
#=======================================================================================================================


#=======================================================================================================================
# Jetty settings
#=======================================================================================================================
[Jetty]

# Path of the jetty.xml file used to configure the Jetty server.
config = files/jetty.xml

# Resolve Juneau variables in the jetty.xml file.
resolveVars = true

# Port to use for the jetty server.
# You can specify multiple ports.  The first available will be used.  '0' indicates to try a random port.
# The resulting available port gets set as the system property "availablePort" which can be referenced in the
# jetty.xml file as "$S{availablePort}" (assuming resolveVars is enabled).
port = 10000,0,0,0


#=======================================================================================================================
# Console settings
#=======================================================================================================================
[Console]

enabled = true

# List of available console commands.
# These are classes that implements ConsoleCommand that allow you to submit commands to the microservice via
# the console.
commands =
	org.apache.juneau.marshall.microservice.console.ExitCommand,
	org.apache.juneau.marshall.microservice.console.RestartCommand,
	org.apache.juneau.marshall.microservice.console.HelpCommand,
	org.apache.juneau.marshall.microservice.console.ConfigCommand


#=======================================================================================================================
# Logger settings
#-----------------------------------------------------------------------------------------------------------------------
# See FileHandler Java class for details.
#=======================================================================================================================
[Logging]

# The directory where to create the log file.
logDir = ./target/logs

# The name of the log file to create for the main logger.
logFile = microservice.%g.log

# Whether to append to the existing log file or create a new one.
append = false

# The SimpleDateFormat format to use for dates.
dateFormat = yyyy.MM.dd hh:mm:ss

# The log message format.
format = [{date} {level}] {msg}%n

# The maximum log file size.
limit = 1M

# Max number of log files.
count = 5

# Default log levels.
levels =
	{
		'': 'WARNING',
		org.apache.juneau.marshall: 'WARNING',
		org.eclipse.jetty: 'WARNING'
	}

# Only print unique stack traces once and then refer to them by a simple 8 character hash identifier.
useStackTraceHashes = true

# The default level for the console logger.
consoleLevel = WARNING

# The default level for the file logger.
fileLevel = INFO


#=======================================================================================================================
# System properties
#=======================================================================================================================
[SystemProperties]

# Configure Jetty to log using java-util logging.
org.eclipse.jetty.util.log.class = org.apache.juneau.marshall.microservice.jetty.JettyLogger

# Jetty logging level.
org.eclipse.jetty.LEVEL = WARN

# Disable classpath resource caching.
# Useful if you're attached using a debugger and you're modifying classpath resources while running.
RestContext.disableClasspathResourceCaching.b = true


#=======================================================================================================================
# Source code location
#=======================================================================================================================
[Source]
gitHub = https://github.com/apache/juneau/blob/master/juneau-petstore/juneau-petstore-jetty/src/main/java


#=======================================================================================================================
# Petstore application settings
#
# Demonstrates the Config API + SVL variable resolver: values here are referenced from RootResources via
# $C{Petstore/...} substitutions in @HtmlDocConfig (e.g. the root page header).
#=======================================================================================================================
[Petstore]

# Displayed in the root router page header via $C{Petstore/appName}.
appName = Apache Juneau Petstore

# Chained SVL example: an environment variable read through the Config API, with a fallback default.
buildUser = $E{USER,unknown}
